$colors:(
    primary:#e4e0e0,
    secondery:#737373,
    skyblue:#5ed4ce,
    hover-1:#72cad85e,
    bg-1:#f3f3f3,
    settings:#828282,
    job:#171010,
    dashboard:#6b72a7,
    arrow:#46a9b9,
    logo-color:#fafafa,
    logo-bg:#515052,
    icon-color:#aaaaaa,
    image-border:#fb9f89,
    option-color:#666666,
    name-color:#333333,
    bg-red:#ed1c24,
    setting-label:#444444,
    form-color:#abafb3,
    submenu-bg-1:#15616340,
    submenu-bg-2:#48859e54,
    small-clr:rgba(51, 51, 51, 0.5),
    all-jobs:#060505cf,
    pagin:#9d9d9d,
    submenu-border:#eee,
    side-menu-active:#72cad838,
    side-boxshadow:#cecece,
    select-color:#3694d7,
    label-clr:#444444,
    white-clr: #fff,
    login_2: #ffff,
    login_3: #222,
    login_4: #57b846,
    login_5: #dd4b39,
    login_6: #3b5998,
    login_7: #0072c6,
);
