.btn-group__multiple input {margin: 0 4px 0 0 !important; padding: 0!important; position: relative!important; top: 1px!important;}
.btn-group__multiple ul li {position: relative!important;}
.btn-group__multiple ul label { position: relative!important; z-index: 1!important; }
.btn-group__multiple ul input { margin-top: -8.5px!important; position: absolute!important; z-index: 0!important; top: 50%!important; }
.btn-group__multiple .dropdown-menu label {padding-left: 20px!important;}
.btn-group__multiple label::selection { background-color: transparent!important; }
.btn-group__multiple .btn-placeholder span[data-value]:after { content: ', '!important;}
.btn-group__multiple .btn-placeholder span[data-value].last-visible:after { content: ''!important;}
.btn-group__multiple-radio .num { display: none!important; }
.btn-group__multiple > .btn {width: 200px; overflow: hidden!important;}
.btn-group__multiple .dropdown-menu {min-width: 100%!important;}